/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');

/*=============== VARIABLES ===============*/
:root {
    --header-height: 3.5rem;
    --primary: #009970;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
    --first-color: hsl(230, 75%, 56%);
    --title-color: hsl(230, 75%, 15%);
    --text-color: hsl(230, 12%, 40%);
    --body-color: hsl(230, 100%, 98%);
    --container-color: hsl(230, 100%, 97%);
    --border-color: hsl(230, 25%, 80%);
    --first-color1: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color1: hsl(222, 8%, 8%);
    --text-color-light: hsl(222, 8%, 65%);
    --white-color: #fff;
    --body-color1: hsl(222, 100%, 99%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Nunito', sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;
}

/*=============== GENERAL STYLES ===============*/
.fw-medium {
    font-weight: 600;
}

.fw-semi-bold {
    font-weight: 700;
}

/*=============== BACK TO TOP BUTTON ===============*/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

html {
    scroll-behavior: smooth;
}

.bodyy1 {
    font-family: "Michroma", sans-serif;
    height: 100vh;
  }
.containerr1 {
    background-color: #1b8b00;
    background-image: linear-gradient(314deg, #1b8b00 0%, #a2d240 74%);
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerr1 p {
    font-family: "Michroma", sans-serif;
    font-size: 50px;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b8b00;
    background-image: linear-gradient(314deg, #1b8b00 0%, #a2d240 74%);
    /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}


#svgg1 {
    height: 150px;
    width: 150px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: draw 15s ease;
}

.svg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#svgg2 {
    height: 150px;
    width: 150px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: draw 15s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
}


/*=============== NAVBAR ===============*/

.navbar {
    background-color: #fff;
    height: 100px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    font-family: var(--body-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar_logo .navbar-brand {
    font-weight: 900 !important;
    /* Your desired font weight */
}

.navbar-brand {
    font-size: 30px;
    transition: 0.4s color;
}

.navbar-brand .black-color {
    color: #000000;
}

.navbar-brand .green-color {
    color: #009970;
}

.nav-item .nav-link:hover {
    color: white;
}

.offcanvas-body {
    transition: top .4s;
}



.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

.show-menu {
    top: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav-link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.profile-link {
    justify-content: center;
    text-align: center;
}

.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav-link):hover {
    color: var(--first-color);
}

/*=============== Login ===============*/
.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
    :root {
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
    }

}

/*=============== BASE ===============*/
.profile {
    margin: 0 auto auto auto;
    width: 200px;
    height: 200px;
    transition: .3s ease-in-out;
}

.profile label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, rgb(120, 216, 30), gold);

    line-height: 227px;

    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
}

.profile label:hover .camera {
    transform: translate(-27.5%, -43.5%) scale(1.4);
    border: 30px solid #fff;
}

.profile input[ type="file"] {
    display: none;
}

.profile .user {
    font-size: 5rem;
    color: transparent;
    background-color: #121111;
    -webkit-background-clip: text;
    background-clip: text;
}

.profile .camera {
    position: center;
    line-height: normal;
    bottom: 0;
    right: 15px;
    padding: 0;
    background: rgb(112, 189, 17);

    border-radius: 50%;
    font-size: 1.5rem;
    border: 4px solid #fff;
    transition: .3s ease-in-out;
}

.profile:hover {
    transform: scale(1.02);
    filter: brightness(100%);
}

.login__input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.login__input-container div {
    flex: 2;
    margin-right: 10px;
}

.login__input-container div:last-child {
    margin-right: 0;
}

.login__form,
.login__group {
    display: grid;
}

.login__form1,
.login__group1 {
    display: grid;
}


.login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(230, 75%, 15%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    /* For safari */
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.login__close,
.login__close1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.login__form {
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__form1 {
    background-color: var(--container-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.login__title1 {
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.login__group {
    row-gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__label1 {
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input,
.login__input1 {
    width: 100%;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--text-color);
}

.login__input::placeholder {
    color: var(--text-color);
}

.login__input1::placeholder {
    color: var(--text-color);
}



.login__signup,
.login__signup1 {
    margin-bottom: .5rem;
}

.login__signup a {
    color: #8bbe1b;
}

.login__signup1 a {
    color: #8bbe1b;
}

.login__forgot {
    display: inline-block;
    color: #8bbe1b;
    margin-bottom: 1.25rem;
}

.login__button,
.login__button1 {
    display: inline-block;
    background-color: #8bbe1b;
    width: 100%;
    color: #fff;
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.login__button:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

.login__button1:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(0);
}

.login__scrollable {
    max-height: 350px;
    /* Adjust this value according to your need */
    overflow-y: auto;
}

.login__scrollable1 {
    max-height: 350px;
    /* Adjust this value according to your need */
    overflow-y: auto;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

    .search,
    .login {
        padding-top: 10rem;
    }

    .search__form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search__close,
    .login__close,
    .login__close1 {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .login__form {
        max-width: 400px;
        margin-inline: auto;
    }

    .login__form1 {
        max-width: 700px;
        margin-inline: auto;
    }

}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 3rem;
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .login__form {
        padding: 3rem 2rem 3.5rem;
    }

    .login__form1 {
        padding: 3rem 2rem 3.5rem;
    }
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }
}

@media (min-width:991px) and (max-width:1023px) {

    .nav__close,
    .nav__toggle {
        display: none;
    }
}

/*=============== Login End ===============*/

input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
}

.nav__toggle {
    border: none;
    font-size: 1.25rem;
}

.nav__toggle:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;

    cursor: pointer;
}

@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;

    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.container .navbar-brand {
    cursor: pointer;
}

.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-green {
    background-color: #009970;
    color: white;
}

.btn-green:hover {
    background-color: #007a5e;
}

.btn-lime {
    background-color: #8bbe1b;
}

.btn-lime1 {
    color: #8bbe1b;
}

.btn-primary8 {
    background-color: #8bbe1b;
    color: black;
}

.btn-primary8:hover {
    color: #8bbe1b;
}

@media (max-width: 240px) {
    .btn-primary8 {
        font-size: 12px;
        padding: 8px 12px;
    }
}

@media (max-width: 240px) {
    .btn {
        font-size: 12px;
        padding: 8px 12px;
    }
}

.btn.btn-primary3,
.btn.btn-secondary3 {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/*=============== NAVBAR END ===============*/


/*=============== HOME SECTION ===============*/

.home-section {
    background: url(../../../public/images/2.png) no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.home-section h2 {
    color: white;
}

.home-section::before {
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.home-section h2 {
    font-size: 1.0em;
}

.home-section h3 {
    font-size: 1.2em;
}

.changecontent::after {
    content: ' ';
    color: #9dc209;
    text-shadow: 0px 1px 1px black;
    animation: changetext 40s infinite linear;
}

@keyframes changetext {
    0% {
        content: "Mumbai";
    }

    10% {
        content: "Bangalore";
    }

    20% {
        content: "Pune";
    }

    30% {
        content: "Chennai";
    }

    40% {
        content: "Kochi";
    }

    50% {
        content: "Thrissur";
    }

    60% {
        content: "Jaipur";
    }

    70% {
        content: "Delhi";
    }

    80% {
        content: "Kashmir";
    }

    90% {
        content: "Assam";
    }

    100% {
        content: "Meghalaya";
    }
}

@media (max-width:850px) {
    .home-section {
        background-position: 50%;
    }
}

@media (max-width:450px) {
    .home-section h2 {
        font-size: 25px;
    }

    .home .content h3 {
        font-size: 38px;
    }
}

/*=============== SEARCH BAR ===============*/
.search-bar-container {
    padding-top: 5vh;
    position: fixed;
    width: 100%;
    align-items: center;
    display: inline-block;
    justify-content: center;
}

.search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
}

.search-container input[type="text"] {
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 0 0 0 30px;
    outline: none;
    font-size: 16px;
}

/* .search-container button {
    border: none;
    background: #8bbe1b;
    border-radius: 30px 30px 30px 0;
    cursor: pointer;
} */

@media (max-width: 768px) {
    .search-container input[type="text"] {
        width: 50%;
    }
}

/*=============== ABOUNT SECTION Filters ===============*/


/*=============== ABOUNT SECTION GALLERY ===============*/
.about {
    background-color: var(--body-color);
}

.gallery {
    --g: 10px;
    display: grid;
    border-radius: 50%;
    justify-content: center;
    /* Centering the grid */
    align-items: center;
    /* Vertically centering */
    padding: 15px;
    /* Add padding if needed */
    margin: 50px auto 0 auto;
}

.gallery>img {
    cursor: pointer;
    width: 400px;
    object-fit: cover;
    border-radius: 80%;
    grid-area: 1/1;
    aspect-ratio: 1;
    transform: translate(var(--_x, 0), var(--_y, 0));
    z-index: 0;
    transition: .3s, z-index 0s .3s;
}

.gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
}

.gallery:hover img {
    transform: translate(0, 0);
}

.gallery>img:nth-child(1) {
    clip-path: polygon(50% 50%, calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)), 0 calc(100% * var(--_i, 0)), 0 0, 100% 0, 100% calc(100% * var(--_i, 0)), calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0)));
    --_y: calc(-1 * var(--g))
}

.gallery>img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)), calc(100% - 100% * var(--_i, 0)) 0, 100% 0, 100% 100%, calc(100% - 100% * var(--_i, 0)) 100%, calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0)));
    --_x: var(--g)
}

.gallery>img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)), 100% calc(100% - 120% * var(--_i, 0)), 100% 100%, 0 100%, 0 calc(100% - 100% * var(--_i, 0)), calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)));
    --_y: var(--g)
}

.gallery>img:nth-child(4) {
    clip-path: polygon(50% 50%, calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)), calc(100% * var(--_i, 0)) 0, 0 0, 0 100%, calc(100% * var(--_i, 0)) 100%, calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0)));
    --_x: calc(-1 * var(--g))
}


/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
    .gallery {
        margin: 20px auto;
        /* Adjust margin for smaller screens */
        width: 90%;
        /* Adjust width as needed */
    }

    .gallery>img {
        width: 100%;
        /* Full width of the parent container */
        height: auto;
        /* Maintain aspect ratio */
        /* Reset transforms for smaller screens */
        transform: translate(0, 0);
    }

    /* Reset clip-path styles for smaller screens */
    .gallery>img:nth-child(1),
    .gallery>img:nth-child(2),
    .gallery>img:nth-child(3),
    .gallery>img:nth-child(4) {}
}

/*=============== ABOUT SECTION GALLERY END ===============*/


/*============================= HOME SECTION END =============================*/



/*=============== DISCOVER SECTION ===============*/

.discover-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #ffffff;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.discover-content {
    padding-left: 5%;
}

.discover-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

.discover-content p {
    margin-bottom: 20px;
    color: #666666;
}

/*=============== SECTION ===============*/
#loginn .col-lg-6 img {
    display: block;
    margin: 20px auto;
    /* Adjusted for spacing and centering */
    width: 80%;
    /* Increase image size */
    border: 5px solid rgba(0, 0, 0, 0.1);
    /* Shaded border */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
}

#loginn h4,
#loginn p,
#loginn .login_button {
    text-align: center;
}

/*=============== SHOP NOW BUTTON ===============*/
.shop-now-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*=============== RESPONSIVE STYLES ===============*/
@media (max-width: 768px) {

    .discover-content h2,
    #loginn h4 {
        font-size: 1.5rem;
    }

    .discover-content p,
    #loginn p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .discover-section {
        padding: 20px 0;
        /* Reduced padding for smaller screens */
    }

    .container1 {
        padding: 0 15px;
    }

    #loginn .col-lg-6 img {
        width: 90%;
        /* Larger images for smaller screens */
    }
}

.discover-section .discover-content h2,
.discover-section .discover-content p {
    text-align: center;
}

/*=============== DISCOVER SECTION END ===============*/

/*=============== DESTINATION ===============*/

.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}

/*=============== DESTINATION END ===============*/

/*=============== PACKAGES ===============*/

.carousel-inner {
    padding: 1em;
}

.carousel-item {
    transition: transform 1s ease;
}

.card {
    /*box-shadow: 0 0 45px rgba(0, 0, 0, .08);*/
    margin: 0 0.8em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    transition: .5s;
    height: 500px;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

card-body {
    flex-grow: 1;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 100%;
    flex-shrink: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

/*=============== PACKAGE END ===============*/


/*=============== TEAM ===============*/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 10px;
    transition: transform .3s;
}

.team-item img {
    transition: .5s;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.custom-row {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .team-item {
        width: calc(100% - 20px);
    }
}

/*=============== TEAM END ===============*/


/*=============== TESTIMONAL ===============*/

.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


@media (max-width: 768px) {
    .testimonial-carousel .testimonial-item img {
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }

}


/*=============== TESTIMONAL END ===============*/

/*========================== FOOTER ==========================*/

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

/*=============== FOOTER ICONS ===============*/

.wrapper {
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0px;
}

.wrapper .icon {
    position: relative;
    background-color: white;
    border-radius: 60%;
    padding: 18px;
    margin: 30px 10px 50px 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.wrapper .icon span {
    color: black;
}

.wrapper .icon:hover span {
    color: white;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e1306c;
    color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0a66c2;
    color: #ffffff;
}

.wrapper .pinterest:hover,
.wrapper .pinterest:hover .tooltip,
.wrapper .pinterest:hover .tooltip::before {
    background: #e60023;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #ff0000;
    color: #ffffff;
}

@media (max-width: 480px) {
    .wrapper .icon {
        padding: 12px;
        /* Adjust icon padding */
        margin: 20px 5px 30px 5px;
        /* Adjust icon margin */
        width: 25px;
        /* Adjust icon width */
        height: 25px;
        /* Adjust icon height */
        font-size: 14px;
        /* Adjust icon font size */
    }

    .wrapper .tooltip {
        top: -35px;
        /* Adjust tooltip position */
        font-size: 12px;
        /* Adjust tooltip font size */
        padding: 3px 6px;
        /* Adjust tooltip padding */
    }
}

@media (max-width: 240px) {
    .wrapper .icon {
        padding: 10px;
        /* Further adjust icon padding */
        margin: 15px 3px 25px 3px;
        /* Further adjust icon margin */
        width: 20px;
        /* Further adjust icon width */
        height: 20px;
        /* Further adjust icon height */
        font-size: 12px;
        /* Further adjust icon font size */
    }

    .wrapper .tooltip {
        top: -25px;
        /* Further adjust tooltip position */
        font-size: 10px;
        /* Further adjust tooltip font size */
        padding: 2px 4px;
        /* Further adjust tooltip padding */
    }
}

/*=============== FOOTER ICONS END ===============*/


.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

@media (max-width: 320px) {
    .footer .copyright {
        padding: 15px 0;
        /* Adjust padding */
        font-size: 12px;
        /* Adjust font size */
    }

    .footer .footer-menu a {
        margin-right: 10px;
        /* Adjust margin */
        padding-right: 10px;
        /* Adjust padding */
    }
}

@media screen and (max-width: 240px) {
    .footer .copyright {
        padding: 10px 0;
        /* Further reduce padding */
        font-size: 10px;
        /* Further reduce font size */
    }

    .footer .footer-menu a {
        margin-right: 5px;
        /* Further reduce margin */
        padding-right: 5px;
        /* Further reduce padding */
    }
}

/*=============== FOOTER END ===============*/