/* .divlogin {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    color:green;
    text-align: center; 
}

.form-control {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .divlogin {
        max-width: 90%;
    }
}
 */
