/* 
.lg-react-element {
    column-count: 3;
    column-gap: 10px;
}

.rimg .img {
    max-width: 100%;
    display: flex;
    padding: 5px 0px;
    border-radius: 20px;
    transition: transform 0.2s;
}

.rimg img:hover {
    filter: opacity(.9);
    transform: scale(1.01);
} */