
.card-price p{color:white;}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-meta-list span{
    ion-icon { display: block; }
}

li {
    list-style: none;
}

a,p {
    text-decoration: none;
}
.amenities-list li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
}
input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

ion-icon {
    pointer-events: none;
}

.container22 {
    padding-inline: 15px;
}

.btn {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 100px;
    padding: var(--padding, 8px 18px);
    border: var(--border-width, 2px) solid transparent;
    transition: 0.25s ease-in-out;
}

.btn-primary3 {
    display: flex;
    background: hsl(214, 57%, 51%);
    border-color: hsl(214, 57%, 51%);
    
}

.btn-primary3:is(:hover, :focus) {
    background: hsl(214, 72%, 33%);
    border-color: hsl(214, 72%, 33%);
}

.btn-secondary3 {
    border-color: white;
}

.btn-secondary3:is(:hover, :focus) {
    background: hsla(0, 0%, 100%, 0.1);
}

.package1 .h1,.h2,
.h3 {
    font-weight: 800;
    text-transform: uppercase;
}

.package1 .h1 {
    color: white;
    font-size: calc(20px + 3.5vw);
}

.package1 .h2,
.h3 {
    color: hsl(206, 34%, 20%);
}

.package1 .h2 {
    font-size: calc(18px + 1.6vw);
}

.package1 .h3 {
    font-size: calc(16px + 0.45vw);
    font-weight: 700;
}

.section-subtitle {
    color: hsl(214, 57%, 51%);
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;;
    margin-bottom: 8px;
}

.section-title {
    margin-bottom: 15px;
}

.section-text {
    color: hsl(225, 8%, 42%);
    margin-bottom: 30px;
}

.card-text {
    color: hsl(225, 8%, 42%);
    font-size: 14px;
}



.package1 {
    padding-block: 60px;
}

.package1-list {
    margin-bottom: 40px;
}

.package1-list>li:not(:last-child) {
    margin-bottom: 30px;
}

.package1-card {
    background: hsl(0, 0%, 98%);
    overflow: hidden;
    border-radius: 15px;
}

.package1-card .card-banner1 {
    /* background: url(images/2.png) no-repeat center; */
    
    height: 250px;
    object-fit: fill;

}

.package1-card .card-banner1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.package1-card .card-content1 {
    padding: 30px 20px;
}

.package1-card .card-title {
    margin-bottom: 15px;
    text-align: center;
}

.package1-card .card-text {
    line-height: 1.6;
    margin-bottom: 20px;
}

.card-meta-list {
    background: white;
    display: flex;
    max-width: max-content;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
    border-radius: 50px;
    list-style-type: none; 
    text-align: center; /* Center the content horizontally */
  padding: 0; /* Remove any default padding */
}

.card-meta-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    
}

.card-meta-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -1px;
    bottom: 4px;
    width: 1px;
    background: hsla(0, 0%, 0%, 0.3);
}
.card-content1 h3{
    cursor: pointer;
}
.meta-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline: 9px;
    color: hsl(225, 8%, 42%);
    font-size: 14px;
    
    justify-content: space-between;
}
ion-icon {
    margin-right: 5px;
  }
  .amenities-list ion-icon {
    color: black; /* Change the icon color to blue */
  }
  .card-meta-list,
  .amenities-list {
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-wrap: wrap; /* Allow items to wrap to new line */
  }
  
  .card-meta-item,
  .amenities-list li {
    margin: 10px; /* Adjust margin between items */
  }
  

  .amenities-list li {
    display: flex;
    align-items: center; /* Center vertically */
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.meta-box>ion-icon {
    display:flex;
    color: #8bbe1b;
    font-size: 20px;
    
}

.package1-card .card-price {
    background: #8bbe1b;
    color: white;
    padding: 25px 20px;
    text-align: center;
}

.package1-card .card-price .wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 15px;
    margin-bottom: 10px;
}

.package1-card .card-price .reviews {
    font-size: 14px;
}

.package1-card .card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 14px;
}

.package1-card .card-rating ion-icon:last-child {
    color: hsl(0, 0%, 80%);
}

.package1-card .price {
    font-size: calc(18px + 1.6vw);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.package1-card .price span {
    font-size: 12px;
    font-weight: initial;
}

.package1 .btn {
    margin-inline: auto;
}

.card-banner1 img{ion-icon { display: block; }}



/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {


    .container22 {
        max-width: 580px;
        margin-inline: auto;
    }

    .btn {
        font-size: 16px;
        padding: 12px 30px;
    }

    section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
        text-align: center;
    }

    .section-text {
        margin-bottom: 40px;
    }

    .card-text {
        font-size: 15px;
    }




    /**
     * TOUR SEARCH
     */

    .tour-search-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;
        gap: 15px;
    }

    .tour-search-form .input-wrapper1 {
        margin-bottom: 0;
    }

    .tour-search-form .input-field {
        padding: 16px 20px;
    }

    .tour-search .btn {
        grid-column: span 2;
        margin-top: 20px;
    }



    /**
     * POPULAR
     */

    .popular-card .card-content1 {
        right: auto;
    }
    

}





/**
   * responsive for larger than 768px screen
   */

@media (min-width: 768px) {

    :root {

        /**
       * typography
       */

        font-size: 15px;

    }



    /**
     * REUSED STYLE
     */

    .container22 {
        max-width: 800px;
    }

    .section-text {
        max-width: 60ch;
        margin-inline: auto;
    }



    /**
     * POPULAR
     */

    .popular-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 50px;
    }

    .popular-list>li:not(:last-child) {
        margin-bottom: 0;
    }

    .popular-card .card-content1 {
        right: 20px;
    }



    /**
     * PACKAGE
     */

    .package1-list {
        margin-bottom: 50px;
    }

    .package1-list>li:not(:last-child) {
        margin-bottom: 40px;
    }

    .package1-card {
        display: grid;
        grid-template-columns: 1.3fr 1.5fr 1fr;
    }

    .package1-card .card-banner1 {
        height: 100%;
    }

    .package1-card .card-content1 {
        padding: 40px;
    }

    .package1-card .card-price {
        display: grid;
        place-content: center;
    }

    .package1-card .card-price .wrapper1 {
        margin-bottom: 15px;
    }

}





/**
   * responsive for larger than 992px screen
   */

@media (min-width: 992px) {

    .container22 {
        max-width: 1050px;
    }

    /**
     * TOUR SEARCH
     */

    .tour-search-form {
        grid-template-columns: repeat(5, 1fr);
    }

    .tour-search .btn {
        --padding: 15px;
        grid-column: unset;
        margin-top: 0;
    }



    /**
     * POPULAR
     */

    .popular-list {
        grid-template-columns: repeat(3, 1fr);
    }



    /**
     * PACKAGE
     */

    .meta-box {
        font-size:  13px;
    
    }

    .meta-box>ion-icon {
        font-size: 15px;
    }


}





/**
   * responsive for larger than 1200px screen
   */

@media (min-width: 1200px) {

    .container22 {
        max-width: 1180px;
    }

}

