.input-wrapper1 {
    width: 100%;
    height: 3.2rem;
    border: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.input-wrapper1 .input {
    background-color: black;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 7px;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
}

input:focus {
    outline: none;
}

@media (max-width: 480px) {
    .input-wrapper1 {
        height: 3.2rem; /* Adjust height for smaller screens */
        padding: 0 15px; 
        width: calc(100% - 1px);
    }
    .btn-lime {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    
}